---
layout: blank
title: Holger Woltersdorf
description: "Portfolio of Holger Woltersdorf / IT Consultant & Software Architect"
tags: [Freelance, PHP, Open Source, Developer, Architect, Hands-On, Speaker, Consultant]
image: "/assets/img/profile.jpg"
---

<div class="row mt-5 mb-5">
	<div class="col-md-6 col-sm-12">
		<img src="/assets/img/profile.webp" alt="Holger Woltersdorf">
	</div>
	<div class="col-md-6 col-sm-12 align-self-center text-center">
		<h1 class="pt-5 pb-3"><span class="text-nowrap">I'm</span> Holger</h1>
		<p>
			Co-Founder & CEO of
			<a href="https://mpowr.it" title="Website of MPOWR IT GmbH" target="_blank">MPOWR IT GmbH</a><br>
			IT Consultant<br>
			Software Architect & Developer<br>
			Speaker & Organizer<br>
			Always Hands-On!
		</p>
		<div class="navbar navbar-expand h3">
			<ul class="navbar-nav m-auto">
				<li>
					<a class="nav-link" href="{{ site.data.social.github }}" target="_blank">
						<i class="fa fa-github"></i>
					</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.data.social.twitter }}" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.data.social.linkedin }}" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.data.social.xing }}" target="_blank">
						<i class="fa fa-xing"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row mt-5 mb-5 justify-content-center">
	<div class="col-lg-8 col-md-10 col-sm-12 text-center">
		<h2>Hey!</h2>
		<p>
			I am an IT consultant, hands-on software architect & developer
			with a focus on building sustainable software while enabling and growing a professional team around it.
			I have about {{ 'now' | date: '%Y' | minus: 2005 }} years of developer and team-lead experience in
			mobile communication, fashion and food eCommerce, as well as in other industries.
		</p>
		<p>
			I am a developer for more than {{ 'now' | date: '%Y' | minus: 1998 }} years, Co-Founder and chairman of the
			<a href="https://phpug-dresden.org" target="_blank">PHP USERGROUP DRESDEN e.V.</a>,
			avid <a href="{{ site.data.social.speakerdeck }}" target="_blank">meetup and conference speaker</a>,
			maintainer of this <a href="https://github.com/hollodotme/fast-cgi-client" target="_blank">
			open-source fastCGI client library</a> and dedicated to multiple
			other open-source <a href="/work.html">projects</a>.
		</p>
	</div>
</div>

<div class="row mt-5 mb-5 justify-content-center">
	<div class="col-lg-8 col-md-10 col-sm-12 text-center">
		<h2>What I can do.</h2>
		<p>
			I can increase your team's productivity by setting up a proper development environment
			on a suitable technology stack with task-automation and actually useful documentation.
		</p>
		<p>
			I can give practical oriented workshops on professional, framework-agnostic software development.
			If you have specific topics in mind, just reach out.
		</p>
		<p>
			I can show you benefits of test-driven, open-source software development and best practices in software
			refactoring and project maintenance.
		</p>
	</div>
</div>

<div class="row mt-5 mb-5 justify-content-center">
	<div class="col-lg-6 col-md-8 col-sm-10 text-center">
		<h2>I can help.</h2>
		<p>
			Don't hesitate to reach out if you need help with your software development projects.
		</p>
		<p class="pt-3">
			<a href="mailto:freelance@hollo.me" class="btn btn-warning btn-lg btn-block">Get in touch</a>
		</p>
	</div>
</div>

<hr>

<div class="row mt-5 mb-5 justify-content-center">
	<div class="col-lg-6 col-md-8 col-sm-10 text-center">
		<h2>My latest posts & talks</h2>
		<ul class="list-unstyled">
			{% for post in site.posts limit: 5 %}
			<li>{{ post.date | date: '%Y-%m-%d' }} &middot;
				<a href="{{ post.url | relative_url }}">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{%
					endif %}</a>
			</li>
			{% endfor %}
		</ul>
		<p>
			<i class="fa fa-rss"></i>
			<a href="feed://{{ site.url | remove: 'https://' | remove: 'http://' }}/feed.xml" target="_blank">
				 Subscribe to my RSS feed.
			</a>
		</p>
	</div>
</div>