/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/sourcesanspro-regular-webfont.eot');
	src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('../fonts/sourcecodepro-regular-webfont.eot');
	src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcecodepro-regular-webfont.svg#webfont') format('svg');
}

/* basics */
* html, body {
	font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #555555;
	background: #333333;
	line-height: 16pt;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	display: block;
}

h1 {
	font-size: xx-large;
	margin-bottom: 15px;
	line-height: 25pt;
}

h2 {
	font-size: x-large;
	margin-bottom: 13px;
}

h3 {
	font-size: larger;
	margin-bottom: 11px;
}

h4 {
	font-size: large;
	margin-bottom: 9px;
}

h5 {
	font-size: medium;
	margin-bottom: 8px;
}

b, strong {
	font-weight: bold;
	color: #202020;
}

em {
	font-style: italic;
}

a {
	color: #ad1a62;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #ad1a62;
	text-decoration: underline;
	cursor: pointer;
}

pre {
	border: 1px solid #d4d4d4;
}

code {
	font-family: "Source Code Pro", Menlo, Courier, monospace;
	color: #ad1a62;
}

hr {
	height: 2px;
	border: 0;
	margin: 25px 50px;
	background-color: #8abbcb;
}

blockquote {
	display: block;
	border-left: 5px solid #e2ba1f;
	padding-left: 10px;
	font-style: italic;
}

p {
	display: block;
	margin: 15px 0;
}

table, table td, table th {
	border: 1px solid #d4d4d4;
	border-collapse: collapse;
}

table th, table td {
	padding: 3px 5px;
}

table th {
	font-weight: bold;
	background-color: #f0f0f0;
}

table tr:hover td {
	background-color: rgba(226, 186, 31, 0.5) !important;
}

table tr:nth-child(even) td {
	background-color: #fafafa;
}

ul {
	list-style-type: square;
	padding-left: 25px;
	margin: 15px 0;
}

ul ul, ol ol {
	margin: 0;
}

ol {
	list-style-type: decimal;
	padding-left: 25px;
	margin: 15px 0;
}

img {
	vertical-align: middle;
}

small {
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

/* Layout */

#sidebar {
	background-color: #75bd5f;
	color: #ffffff;
	position: fixed;
	top: 5px;
	bottom: 5px;
	left: 5px;
	width: 260px;
	padding: 25px 0;
	overflow-y: auto;
	overflow-x: visible;
}

#sidebar > hr {
	height: 0;
	border: 0;
	border-top: 1px solid #5da553;
	border-bottom: 1px solid #8fdb79;
	border-radius: 2px;
	margin: 15px 20px;
}

#sidebar .subline,
#sidebar .website-version {
	color: #2d5a2d;
	text-shadow: 1px 1px 1px #8fdb79;
}

#breadcrumbs {
	position: fixed;
	top: 5px;
	left: 320px;
	right: 12%;
	padding: 6px 15px 10px 5px;
	height: 30px;
}

#breadcrumbs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#breadcrumbs ul > li {
	display: inline-block;
	white-space: nowrap;
}

#breadcrumbs ul > li:before {
	content: '»';
	color: #e7e7e7;
}

#breadcrumbs ul > li:first-child:before {
	content: '';
}

#breadcrumbs li > a {
	color: #f6f6f6;
}

#breadcrumbs li > a:hover,
#breadcrumbs li > a:focus,
#breadcrumbs li > a:active {
	color: #8fdb79;
	text-decoration: none;
}

#breadcrumbs li.active {
	color: #e7e7e7;
}

#main {
	background-color: #f6f6f6;
	position: fixed;
	top: 40px;
	bottom: 5px;
	left: 320px;
	right: 50px;
	overflow-y: auto;
	padding: 25px;
}

#sidebar-toggle {
	display: none;
	position: absolute;
	z-index: 3;
	top: -15px;
	left: 0;
	height: 40px;
	width: 40px;
	background: #3e7c3e;
	color: #ffffff;
	line-height: 80px;
	text-align: center;
}

#sidebar-toggle:before, #sidebar-toggle:after {
	content: '';
	display: block;
	position: absolute;
	border-top: 40px solid #3e7c3e;
	border-right: 40px solid transparent;
}

#sidebar-toggle:before {
	top: 40px
}

#sidebar-toggle:after {
	top: 0;
	left: 40px
}

#sidebar-toggle .fa {
	height: 40px;
	width: 40px;
	font-size: 25px;
	line-height: 40px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

#sidebar-toggle.open .fa {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg)
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
	#sidebar {
		margin-left: -500px;
	}

	#sidebar.open {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		width: 250px;
		margin: 0;
	}

	#main {
		left: 5px;
		right: 5px;
	}

	#breadcrumbs {
		left: 50px;
		right: 5px;
		overflow-y: auto;
		font-size: smaller;
	}

	code {
		font-size: small;
		line-height: 12pt;
	}

	#sidebar-toggle {
		display: block
	}
}

@media only screen and (min-width: 1500px) {
	#main {
		right: 10%;
	}
}

ul.sidebar-nav {
	list-style-type: none;
	padding: 0;
}

ul.sidebar-nav li > a {
	display: block;
	color: #2d5a2d;
	text-shadow: 1px 1px 1px #8fdb79;
	padding: 5px 15px;
	transition: background-color 300ms;
}

ul.sidebar-nav li > a:hover,
ul.sidebar-nav li > a:focus,
ul.sidebar-nav li > a:active {
	background-color: #8fdb79;
	text-decoration: none;
	/*color: #ffffff;*/
	color: #1f3e1f;
}

ul.sidebar-nav li.active > a {
	/*background-color: #8fdb79;*/
	font-weight: bold;
	text-decoration: none;
}

ul.sidebar-nav li.active > a:before {
	content: '+';
	padding-right: 5px;
}

ul.sidebar-nav > li > ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 15px 15px;
	font-size: 90%;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.img.pull-right {
	margin: 0 0 15px 15px;
	border: 1px solid #c4c4c4;
	padding: 0;
}

.img.pull-left {
	margin: 0 15px 15px 0;
	border: 1px solid #c4c4c4;
	padding: 0;
}

.img-25 {
	max-width: 25%;
}

.img-50 {
	max-width: 50%;
}

.img-100 {
	max-width: 100%;
}

.img-25 > img,
.img-50 > img,
.img-100 > img {
	max-width: 100%;
}

.brand-well {
	border-radius: 50%;
	width: 128px;
	height: 128px;
	border: 3px solid #418541;
	margin: 0 auto 15px auto;
}

.brand-well img {
	width: 128px;
	height: 128px;
	margin: 0;
	border-radius: 50%;
}

ul.sociallinks {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.sociallinks > li {
	display: inline-block;
	font-size: x-large;
	margin-right: 10px;
}

/* Icon Colors */

.fa.fa-github {
	color: #202020;
	text-shadow: 0 0 3px #f6f6f6;
}

.fa.fa-xing {
	color: #005654;
	text-shadow: 0 0 3px #f6f6f6;
}

.fa.fa-linkedin {
	color: #0083be;
	text-shadow: 0 0 3px #f6f6f6;
}

.fa.fa-twitter {
	color: #1da1f2;
	text-shadow: 0 0 3px #f6f6f6;
}
