/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/sourcesanspro-regular-webfont.eot');
	src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('../fonts/sourcecodepro-regular-webfont.eot');
	src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcecodepro-regular-webfont.svg#webfont') format('svg');
}

/* basics */
* html, body {
	font-family: 'Oxygen', Arial, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #666666;
	background: #232323;
	line-height: 1.6em;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	display: block;
	color: #555555;
}

h1 {
	font-size: xx-large;
	line-height: 1.8em;
	margin-bottom: 15px;
}

h2 {
	font-size: x-large;
	margin-bottom: 13px;
}

h3 {
	font-size: larger;
	margin-bottom: 11px;
}

h4 {
	font-size: large;
	margin-bottom: 9px;
}

h5 {
	font-size: medium;
	margin-bottom: 8px;
}

b, strong {
	font-weight: bold;
	color: #202020;
}

em {
	font-style: italic;
}

a {
	color: #4a954a;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #2d5a2d;
	text-decoration: underline;
	cursor: pointer;
}

pre {
	border: 0;
}

code {
	font-family: 'Oxygen Mono', Menlo, Courier, monospace;
	color: #ad1a62;
	border: 1px solid #d4d4d4;
	background-color: #f6f6f6;
	padding: 0 3px 1px 3px;
	border-radius: 3px;
	line-height: 1.5em;
	font-size: 14px;
	white-space: nowrap;
}

pre > code {
	font-size: 15px;
	white-space: pre;
	line-height: 1.5em;
}

hr {
	height: 0;
	box-shadow: none;
	border: 0;
	border-top: 4px solid #efefef;
	margin: 25px 0;
}

blockquote {
	display: block;
	border-left: 5px solid #efefef;
	padding-left: 10px;
}

p {
	display: block;
	margin: 15px 0;
}

table, table td, table th {
	border: 1px solid #d4d4d4;
	border-collapse: collapse;
}

table th, table td {
	padding: 3px 5px;
}

table th {
	font-weight: bold;
	background-color: #f0f0f0;
}

table tr:hover td {
	background-color: rgba(226, 186, 31, 0.5) !important;
}

table tr:nth-child(even) td {
	background-color: #fafafa;
}

ul {
	list-style-type: disc;
	padding-left: 18px;
	margin: 15px 0;
}

ul ul, ol ol {
	margin: 0;
}

ol {
	list-style-type: decimal;
	padding-left: 25px;
	margin: 15px 0;
}

ul > li pre,
ol > li pre {
	margin-bottom: 15px;
}

img {
	vertical-align: middle;
}

small {
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

/* Layout */

#sidebar {
	background-color: #4a954a;
	color: #a0ec8a;
	text-shadow: 1px 1px 1px #2d5a2d;
	position: fixed;
	top: 5px;
	bottom: 5px;
	left: 5px;
	width: 260px;
	padding: 25px 0;
	overflow-y: auto;
	overflow-x: visible;
	font-size: 15px;
	line-height: 1.4em;
}

#sidebar > hr {
	height: 0;
	border: 0;
	border-top: 1px solid #a0ec8a;
	border-bottom: 1px solid #2d5a2d;
	border-radius: 2px;
	margin: 15px 0;
}

#sidebar .fa,
#sidebar h3 {
	color: #b3ff9d;
	text-shadow: 1px 1px 1px #2d5a2d;
}

#sidebar a {
	color: #b3ff9d;
	text-shadow: 1px 1px 1px #2d5a2d;
}

#sidebar b,
#sidebar strong {
	color: inherit;
}

#breadcrumbs {
	position: fixed;
	top: 5px;
	left: 320px;
	right: 12%;
	padding: 6px 15px 10px 5px;
	height: 30px;
}

#breadcrumbs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#breadcrumbs ul > li {
	display: inline-block;
	white-space: nowrap;
}

#breadcrumbs ul > li:before {
	content: '»';
	color: #e7e7e7;
}

#breadcrumbs ul > li:first-child:before {
	content: '';
}

#breadcrumbs li > a {
	color: #f6f6f6;
}

#breadcrumbs li > a:hover,
#breadcrumbs li > a:focus,
#breadcrumbs li > a:active {
	color: #8fdb79;
	text-decoration: none;
}

#breadcrumbs li.active {
	color: #e7e7e7;
}

#main {
	background-color: #ffffff;
	position: fixed;
	top: 40px;
	bottom: 5px;
	left: 320px;
	right: 50px;
	overflow-y: auto;
	padding: 25px;
	max-width: 960px;
}

#sidebar-toggle {
	display: none;
	position: absolute;
	z-index: 3;
	top: -15px;
	left: 0;
	height: 40px;
	width: 40px;
	background: #3e7c3e;
	color: #ffffff;
	line-height: 80px;
	text-align: center;
}

#sidebar-toggle:before, #sidebar-toggle:after {
	content: '';
	display: block;
	position: absolute;
	border-top: 40px solid #3e7c3e;
	border-right: 40px solid transparent;
}

#sidebar-toggle:before {
	top: 40px
}

#sidebar-toggle:after {
	top: 0;
	left: 40px
}

#sidebar-toggle .fa {
	color: #a0ec8a;
	text-shadow: 1px 1px 1px #2d5a2d;
	height: 40px;
	width: 40px;
	font-size: 25px;
	line-height: 40px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

#sidebar-toggle.open .fa {
	color: #a0ec8a;
	text-shadow: 1px 1px 1px #2d5a2d;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg)
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
	#sidebar {
		margin-left: -500px;
		font-size: 13px;
		line-height: 1.5em;
	}

	#sidebar.open {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		width: 260px;
		margin: 0;
	}

	#main {
		left: 5px;
		right: 5px;
		font-size: 13px;
		line-height: 1.5em;
	}

	#breadcrumbs {
		left: 50px;
		right: 5px;
		overflow-y: auto;
		font-size: smaller;
	}

	code {
		font-size: small;
		line-height: 12pt;
	}

	#sidebar-toggle {
		display: block
	}
}

@media only screen and (min-width: 1500px) {
	#main {
		right: 10%;
	}
}

ul.sidebar-nav {
	list-style-type: none;
	padding: 0;
}

ul.sidebar-nav li > a {
	display: block;
	color: #a0ec8a;
	text-shadow: 1px 1px 1px #2d5a2d;
	padding: 5px 15px;
	transition: background-color 300ms;
}

ul.sidebar-nav li > a:hover,
ul.sidebar-nav li > a:focus,
ul.sidebar-nav li > a:active {
	background-color: #2d5a2d;
	text-decoration: none;
	color: #a0ec8a;
}

ul.sidebar-nav li.active > a {
	/*background-color: #8fdb79;*/
	font-weight: bold;
	text-decoration: none;
}

ul.sidebar-nav li.active > a:before {
	content: '+';
	padding-right: 5px;
}

ul.sidebar-nav > li ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 15px 15px;
	font-size: 90%;
}

.text-small {
	font-size: small;
	font-weight: normal;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.img img {
	border: 1px solid #c4c4c4;
}

.img.center img {
	display: block;
	margin: 0 auto;
}

.img.pull-right {
	margin: 0 0 15px 15px;
	padding: 0;
}

.img.pull-left {
	margin: 0 15px 15px 0;
	padding: 0;
}

.img-10 {
	max-width: 10%;
}

.img-25 {
	max-width: 25%;
}

.img-50 {
	max-width: 50%;
}

.img-100 {
	max-width: 100%;
}

.img-10 img,
.img-25 img,
.img-50 img,
.img-100 img {
	max-width: 100%;
}

.brand-well {
	border-radius: 50%;
	width: 128px;
	height: 128px;
	border: 3px solid #418541;
	margin: 0 auto 15px auto;
}

.brand-well img {
	width: 128px;
	height: 128px;
	margin: 0;
	border-radius: 50%;
}

ul.sociallinks {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.sociallinks > li {
	display: inline-block;
	font-size: x-large;
	margin-right: 10px;
}
