<footer class="navbar navbar-expand navbar-dark bg-dark fixed-bottom" style="max-height: 30px;">
	<div class="container-xl">
		<div class="collapse navbar-collapse" id="footerNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/hollodotme" target="_blank">
						<small><i class="fa fa-github"></i></small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://twitter.com/hollodotme" target="_blank">
						<small><i class="fa fa-twitter"></i></small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.xing.com/profile/Holger_Woltersdorf" target="_blank">
						<small><i class="fa fa-xing"></i></small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/imprint.html">Imprint</a>
				</li>
			</ul>
			<span class="navbar-text">
				<small>&copy; {{ 'now' | date: '%Y' }} {{ site.data.imprint.fullname }}</small>
			</span>
		</div>
	</div>
</footer>

<script src="/assets/js/jquery.min.js" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/assets/js/main.js" crossorigin="anonymous"></script>
<script src="/assets/js/prism.js" crossorigin="anonymous"></script>