<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
	<div class="container-xl">
		<a class="navbar-brand" href="/">
			<img src="/assets/brand/logo-ws.svg" width="50" height="50" alt="Holger Woltersdorf Logo" loading="lazy">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item{% if page.url == '/' %} active{% endif %}">
					<a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item{% if page.url == '/work.html' %} active{% endif %}">
					<a class="nav-link" href="/work.html">Work</a>
				</li>
				{% assign urlPart = page.url | slice: 0, 7 %}
				<li class="nav-item{% if urlPart == '/talks/' %} active{% endif %}">
					<a class="nav-link" href="/talks/">Talks</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
					   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Blog posts
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/php/">PHP</a>
						<a class="dropdown-item" href="/devops/">DEVOPS</a>
					</div>
				</li>
				<li class="nav-item{% if page.url == '/reading-list.html' %} active{% endif %}">
					<a class="nav-link" href="/reading-list.html">Reading list</a>
				</li>
			</ul>
		</div>
	</div>
</nav>